<h1>Conditions générales d'utilisation</h1>
<h2>Mentions légales</h2>
<p>
	<h3>Editeur : Développement tous azimut</h3>
	1 Rue du non-test unitaire,<br/>
	49000, Angers, France<br/>
	<br/>
	<h3>Objet et fonctionnement du service</h3>
	Les utilisateurs peuvent s'inscrire pour accéder à une liste de restaurant. Chaque restaurant à une fiche sur laquelle l'utilisateur peut laisser une note et un commentaire.
	Les commentaires sont soumis aux disposition de l'article 4 relatif à la publication et à la modération des avis.<br/>
	<br/>
	<h3>Données personnelles</h3>
	L'adresse mail, un pseudonyme et un mot de passe sont collectés lors de la création d'un compte. L'adresse mail n'est pas transmise à un tiers et n'est utilisée qu'à des fins d'envoi de la newsletter (pour les utilisateurs ayant choisi de la recevoir uniquement).<br/>
	<br/>
	<h3>Cookies</h3>
	Nous utilisons des cookies, ils ne servent qu'à assurer un accès à la zone du site nécessitant une authentification par nom d'utilisateur (pseudonyme) et mot de passe. Nous ne pratiquons aucune analyse statistique des visites du site (Google Analytics ou autre par exemple), et n'avons aucun moyen d'identifier un utilisateur non authentifié.
	Les informations de session sont supprimées dès la déconnexion.
	L'utilisateur accepte par défaut les cookies lors de sa navigation.<br/>
	<br/>
	<h3>Publication/Modération des avis</h3>
	Les avis déposés doivent être en lien direct avec une expérience vécue au sein de l'établissement ainsi évalué. Les avis injurieux ou inappropriés ne sont pas souhaités et pourront faire l'objet d'une modération de la part de l'équipe de gestion du site. Ces modérations peuvent comprendre de façon non exhaustive suppression de commentaire et si cela se produit de manière répétée, suppression du compte. L'équipe s'engage à avertir par mail l'utilisateur lors de la suppression d'un avis posté, ou avant la suppression du compte.
	L'utilisateur s'engage à ne pas exprimer d'opinions politiques, religieuses, philosophiques ou contraires aux bonnes moeurs, et s'engage également à ne pas intégrer à son avis de liens hypertextes vers des sites tiers.
	L'utilisateur reconnait être informé que la publication d'avis ne respectant pas ces règles est passibles de poursuites judiciaires et de sanctions pénales.<br/>
	<br/>
	<h3>Responsabilité</h3>
	L'équipe ne peut en aucun cas être tenu responsable de dommages de quelque nature que ce soit, directs ou indirects, résultant de l'utilisation de ce site. Il en va de même pour la possibilité d'y accéder à n'importe quel moment, qui n'est absolument pas garantie.<br/>
	<br/>
	<h3>Obligations de l'utilisateur</h3>
	L'utilisateur reconnait avoir pris connaissance des règles présentées dans ce document, et s'engage à les respecter.
	L'utilisation du site est soumise au respect de la législation française en vigeur et des présentes conditions d'utilisation.
	Les conditions d'utilisation peuvent être modifiée à tout moment, et sont opposables à l'utilisateur dès leur mise en ligne sur le site internet. L'utilisateur est donc invité à les consulter régulièrement.<br/>
	<br/>
	<h3>Propriété intellectuelle</h3>
	Le présent site web est protégé au titre des dispositions relatives au droit d’auteur défini aux articles L.111-1 et suivants du code de la propriété intellectuelle. L'équipe est titulaire de l’ensemble des droits de propriété intellectuelle sur les éléments composant le site.
	Sans préjudice des dispositions prévues à l’article L.1225 du code de la propriété intellectuelle, toute représentation, reproduction ou diffusion, intégrale ou partielle du site, sur quelque support que ce soit, sans l'autorisation expresse et préalable de l'équipe constitue un acte de contrefaçon, sanctionné au titre des articles L.335-2 et L.335-3 du même code.<br/>
</p>
