<form action="/users/create" method="post">
    <p class="h4 text-center mb-4">Créer un compte</p>
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="materialFormRegisterNameEx" class="form-control" name="username">
        <label for="materialFormRegisterNameEx">Nom d'utilisateur</label>
    </div>
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="email" id="materialFormRegisterEmailEx" class="form-control" name="email">
        <label for="materialFormRegisterEmailEx">Adresse email</label>
    </div>
    <div class="md-form">
        <i class="fa fa-exclamation-triangle prefix grey-text"></i>
        <input type="email" id="materialFormRegisterConfirmEx" class="form-control" name="confirm-mail">
        <label for="materialFormRegisterConfirmEx">Confirmation de l'email</label>
    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="materialFormRegisterPasswordEx" class="form-control" name="password">
        <label for="materialFormRegisterPasswordEx">Mot de passe</label>
    </div>
    <div class="form-check">
        <input class="form-check-input filled-in" type="checkbox" id="filledInCheckbox1" name="cgu-ok">
        <label class="form-check-label" for="filledInCheckbox1">
            J'accepte les CGU.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input filled-in" type="checkbox" id="filledInCheckbox1" name="newsletter" checked>
        <label class="form-check-label" for="filledInCheckbox1">
            J'accepte de recevoir la newsletter du site.
        </label>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">S'inscrire</button>
    </div>
</form>
