<form action="/users/create" method="post">
    <div>
        <label>Adresse email :</label>
        <input type="text" name="mail"/>
    </div>
    <div>
        <label>Confirmation email :</label>
        <input type="text" name="cmail"/>
    </div>
    <div>
        <label>Pseudonyme :</label>
        <input type="text" name="pseudonyme"/>
    </div>
    <div>
        <label>Nom d'utilisateur :</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Mot de passe :</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label>Confirmation mot de passe :</label>
        <input type="password" name="cpassword"/>
    </div>
    <div>
        <input type="checkbox" name="cgu-ok"/>
        <label>J'accepte sans broncher les CGU, sans les avoir lues préalablement de façon volontaire</label>
    </div>
    <div>
        <input type="submit" value="S'inscrire"/>
    </div>
</form>