<h1>Attention : action définitive</h1>
<p>La suppression du compte utilisateur est une action définitive, vous ne pourrez pas revenir sur votre décision. Etes-vous sur ?</p>
<form action="/users/delete" method="post">
    </div>
    <div class="text-center mt-4">
        <button class="btn btn-red" type="submit">Supprimer le compte</button>
    </div>
</form>
