<h1>Homepage</h1>
<p>Utilisateur authentifié : {{username}}</p>
<a href="/users/account" class="btn btn-primary">Mon compte</a>
<a href="/cgu" class="btn btn-primary">CGU</a>
<a href="/logout" class="btn btn-primary">Déconnexion</a>
