<form>
    <div>
        <label>Adresse mail du compte :</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <input type="checkbox" name="notarobot"/>
        <label>Je ne suis pas un robot</label>
    </div>
    <div>
        <input type="submit" value="Renvoyer le mot de passe"/>
    </div>
</form>
