<form>
    <p class="h4 text-center mb-4">Récupération de mot de passe</p>
    <div class="md-form">
        <input type="text" id="materialFormLoginEmailEx" class="form-control" name="username">
        <label for="materialFormLoginEmailEx">Adresse mail</label>
    </div>
    <div>
        <input type="checkbox" id="notarobot" name="notarobot"/>
        <label for="notarobot">Je ne suis pas un robot</label>
    </div>
    <div class="text-center mt-4">
        <button class="btn btn-primary" type="submit">Renvoyer le mot de passe</button>
    </div>
</form>
